<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68327009462-3eiak9l1l0vranh880qtjmcj83q9qooi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68327009462-3eiak9l1l0vranh880qtjmcj83q9qooi</string>
	<key>API_KEY</key>
	<string>AIzaSyBq4oh8CdLwK6pKxm-hE_4Vjziq2Ao0inY</string>
	<key>GCM_SENDER_ID</key>
	<string>68327009462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.academiaios.MyCaloriApp.MyCaloriAPP</string>
	<key>PROJECT_ID</key>
	<string>mycaloriapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mycaloriapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68327009462:ios:df1b60ae6c5abb06da8a17</string>
</dict>
</plist>